body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
#containerA {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
#handler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 61, 61);
  padding: 10px;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 10px;
}
#OPT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#Create {
  background-color: #272868;
  color: #796fff;
  border: #796fff 2px solid;
  border-radius: 10px;
  padding: 10px;
}
#Read {
  background-color: #682727;
  color: #ff6f6f;
  border: #ff6f6f 2px solid;
  border-radius: 10px;
  padding: 10px;
}
#Update {
  background-color: #276830;
  color: #87ff6f;
  border: #87ff6f 2px solid;
  border-radius: 10px;
  padding: 10px;
}
#Delete {
  background-color: #685e27;
  color: #ffd96f;
  border: #ffd96f 2px solid;
  border-radius: 10px;
  padding: 10px;
}
#containerB {
  margin-top: 20px;
  height: 500px;
  overflow-y: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#containerB::-webkit-scrollbar {
  display: none;
}

input {
  margin: 5px;
  border-radius: 20px;
  width: 90%;
}

table {
  margin: 20px;
}

table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
}

tr,
td {
  padding: 10px;
  text-align: center;
}
